/* Header */

.logo {
    margin-left: 50px;
}
nav{
    height: 100px;
}
.bar-btn{
    display: none;
}
.nav-menu {
    margin-right: 50px;
    height: 100px;
    position: relative;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
}
.nav-menu li{
    margin: 0 15px;
    display: inline-block;
    transition: none;
}

/* Container */

.container {
    margin: 75px 50px;
}

.container .title .div-title {
    padding: 0px 130px;
}
.container .title .div-title p{
    font-size: 2rem;
}
.container .title .div-title h1{
    font-size: 4rem
}
.container .title .description {
    width: 350px;
}

/* What do I like */

.what-do-i-like--list {
    display: grid;
    grid-template-columns: 0.7fr 0.7fr;
    margin-bottom: 70px;
}
.what-do-i-like--object img{
    width: 450px;
    height: 257;
}
.what-do-i-like--object, #what-do-i-like--object-1, #what-do-i-like--object-2, #what-do-i-like--object-3, #what-do-i-like--object-4 {
    padding: 0;
}
#what-do-i-like--object-3, #what-do-i-like--object-4 {
    padding-top: 35px;
}

/* What do i dislike */

.what-do-i-dislike--div ol{
    margin-left: 75px;
}

