:root {
    /* Principal */

    --strong-cyan: hsl(172, 67%, 45%);

    /* Neutral */

    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --light-cyan-white: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;
    font-family: 'Space Mono', monospace;
    background-color: var(--light-grayish-cyan);
}
body > h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    width: auto;
    font-size: 2.5rem;
    letter-spacing: 5px;
    text-align: center;
    color: var(--dark-grayish-cyan);
}
.container {
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: 20px 20px 0 0;
}

/* Right Side */

.primary-title {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.6rem;
    color: var(--dark-grayish-cyan);
}
.section--bill:nth-child(2) {
    justify-content: center;
    align-items: center;
}
.input-div {
    align-items: center;
}
img {
    position: absolute;
    margin: 8px;
}
input {
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    text-align: end;
    font-family: 'Space Mono';
    font-size: 2rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    color: var(--very-dark-cyan);
    background-color: var(--light-cyan-white);
}
input:hover, input:focus-visible {
    outline: transparent;
    border: 2px solid var(--strong-cyan);
}
::placeholder {
    text-align: end;
    font-family: 'Space Mono';
    font-size: 2rem;
    font-weight: 700;
    color: var(--very-dark-cyan);
}
.section--select-tip .tip-btn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.principal-btn {
    width: 100%;
    height: 50px;
    font-family: 'Space Mono';
    font-size: 2.2rem;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--very-dark-cyan);
}
.section--select-tip .tip-btn input {
    height: 50px;
}
.principal-btn:hover {
    color: var(--very-dark-cyan);
    background-color: var(--strong-cyan);
    transition: 0.3s;
}
.tip-btn .principal-btn:active{
    color: var(--very-dark-cyan);
    background-color: var(--strong-cyan);
}

.section--n-o-p {
    margin-bottom: 30px;
}

/* Left Side */

.right-side {
    padding: 20px;
    border-radius: 20px;
    background-color: var(--very-dark-cyan);
}
.secundary-title {
    margin-top: 15px;
    font-size: 1.6rem;
    color: var(--white);
    letter-spacing: 0.5px;
}
.right-side p {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--dark-grayish-cyan);
}
.section--tip-amount, .section--total {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.section--total {
    margin-top: 10px;
    margin-bottom: 30px;
}
#Result {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--strong-cyan);
}
.right-side .secundary-button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-family: 'Space Mono';
    font-size: 1.8rem;
    font-weight: 700;
    background-color: var(--strong-cyan);
}
.secundary-button:hover {
    background-color: var(--light-grayish-cyan);
}