/*
1. Posicionamiento
2. Modelo de caja (Box Model)
3. Tipografía
4. Visuales
5. Otros 
*/

:root {
    /*colores*/
    --white: #F4F4F4;
    --grey: #949494;
    --black: #202023;
}

/* General Document */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html {
   width: 100%;
   font-size: 62.5%;
   font-family: 'Atyp Display', sans-serif;
}
body {
    background-color: var(--black);
    padding: 20px 30px;
}

/* Header */

header {
    width: 100%;
    height: 30px;
}
header img {
    position: absolute;
    width: 161px;
    height: 20px;
    margin-top: 20px;
}

/* Main */

.container {
    width: 100%;
}

/* Title Section */

.Title {
    width: 90%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.Title h1 {
    padding-bottom: 20px;
    font-size: 4.5rem;
    font-weight: 500;
    color: var(--white);
}
.Title p {
    padding-top: 20px;
    font-size: 1.4rem;
    font-weight: lighter;
    color: var(--white);
}

/* Form Section */

.form {
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 1px solid var(--white);
    color: var(--white);
}
.form-info{
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--white);
}
.form-info p {
    padding: 1rem;
}
.form-info .form-input,
.form-info .form-textarea{
    width: 100%;
    padding: .7rem;
    border: none;
    background: none;
    outline: none;
    font-family: 'Atyp Display';
    font-weight: 300;
    font-size: 1.6rem;
    border-bottom: 1px solid var(--white);
    color: var(--white);
    
}

::placeholder {
    font-size: 1.8rem;
    font-family: 'Atyp Display';
    font-weight: 300;
    color: var(--white);
}
.form-info .Button {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.form-info .Button button {
    background: none;
    border: 1px solid var(--white);
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--white);
}
.form-info .Button button:hover {
    background-color: var(--white);
    color: var(--black);
    transition: 0.5s;
}

/* Social Media */

.Social-Media{
    padding-top: 40px;
}
.Social-Media ul li {
    padding-bottom: 20px;
}
.Social-Media ul li a{
    font-size: 1.6rem;
    color: var(--white);
}
.Social-Media ul li a:hover{
    border-bottom: 1px solid var(--white);
}
.Social-Media {
    text-align: center;
}